name: Backend Tests

on:
  push:
    branches: [ "main", "feature/testes-backend" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências do backend
        working-directory: ./backend
        run: npm install

      - name: Executar testes do backend
        working-directory: ./backend
        run: npm test

